body {
  background: #FFF9F1;
  font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  font-size: 1rem;
  line-height: 1.2;
}

#app[unresolved] {
  display: none;
}

#map {
  height: 100vh;
  z-index: 1;
}

button {
  cursor: pointer;
}

.filterInput {
  height: 48px;
}

/**
 * Search/filter map
 */

#searchbox {
  background: #FFF;
  left: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 700;
}

#searchbox.js-tab--closed {
  box-shadow: 0 3px 14px rgba(0, 0, 0, .4);
  height: auto;
}

@media(min-width:960px) {
  #searchbox {
    height: auto;
    left: 1rem;
    max-height: calc(100vh - 2rem);
    right: auto;
    top: 1rem;
    box-shadow: 0 3px 14px rgba(0, 0, 0, .4);
    width: 33.333333%;
  }
}

@media(min-width: 1280px) {
  #searchbox {
    width: 25%;
  }
}

.icon-logo {
  width: 120px;
}

header.top-bar {
  height: 60px;
  z-index: 600;
}

header.right-top-bar {
  z-index: 600;
}

header.top-bar .dropdown-menu {
  margin-right: 1rem;
}

header.right-top-bar .dropdown-menu .menu, header.top-bar .dropdown-menu .menu {
  position: absolute;
  background: #fff;
  color: #333;
  right: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .2);
  text-align: left;
}

header.top-bar .dropdown-menu .menu {
  right: 1rem;
}

header.top-bar .page-title {
  color: #fff;
  font-size: 1rem;
  align-items: center;
  white-space: nowrap;
}

@media(min-width: 960px) {
  header.top-bar .page-title {
    margin: 0 1rem;
    font-size: 1.2rem;
  }
}

header.top-bar a.btn-default {
  color: #fff;
  text-decoration: none;
}

header.top-bar a.btn-default:hover {
  color: #f0f0f0;
}

header.top-bar a.logo {
  overflow: hidden;
}

header.top-bar .icon-logo {
  height: 60px;
  transform: scale(1.5);
}

header.top-bar .icon {
  fill: #fff;
}

#topbar {
  align-items: center;
  justify-content: space-around;
  background: #FFDCAA;
  min-height: 60px;
  height: 60px;
  overflow: hidden;
  z-index: 1;
}

@media(min-width: 960px) {
  #topbar {
    min-height: 100px;
    height: 100px;
  }
}

.sticky {
  position: sticky;
  top: 0;
}

section#page aside {
  padding: 1rem;
}

section#page aside .box {
  background: #323232;
  color: #fff;
}

section#page aside .box a {
  color: #fff;
}

section#page article {
  padding: 1rem 2rem;
}

article section#content {
  padding: 0;
}

b.bold {
  font-weight: bold;
}

.message {
  font-size: .8rem;
  padding: .5rem 1rem;
}

@media(max-width: 960px) {
  #topbar {
    box-shadow: 0 3px 14px rgba(0, 0, 0, .4);
  }
}

.btn-dropdown:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 3px 0 3px;
  border-color: #000000 transparent transparent transparent;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
}

.btn-dropdown--open:after {
  border-width: 0 3px 6px 3px;
  border-color: transparent transparent #000000 transparent;
}

nav#sidebar .dropdown-menu {
  text-align: center;
}

nav#sidebar .btn-dropdown::after, header.top-bar .btn-dropdown::after {
  border-color: #fff transparent transparent;
}

nav#sidebar .btn-dropdown::after {
  right: 24px;
}

nav#sidebar .btn-dropdown--open::after, header.top-bar .btn-dropdown--open::after {
  border-color: transparent transparent #fff;
}

.form-group label {
  font-size: .8rem;
}

.result-title {
  margin: 1rem;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: bold;
}

.result-meta {
  line-height: 1;
  padding: 1rem;
}

.result-meta .label {
  color: #808080;
  font-size: .8rem;
}

.result-meta div {
  margin: 1rem 0;
}

.tag-list .tag {
  padding: 0 .5rem;
  margin: 1rem 1rem 0 0;
  background: #f0f0f0;
}

.icon-input-search {
  width: 24px;
  height: 24px;
  position: absolute;
  z-index: 99999;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.box-container {
  margin: 4rem 0;
}

.box-container .sticky {
  top: 80px;
}

.fixed {
  position: fixed;
  z-index: 900;
}

.static-l {
  @media(min-width: 960px) {
    position: relative;
  }
}

nav#sidebar {
  background: #161616;
  color: #fff;
  height: 100vh;
  width: 75%;
  @media(min-width: 960px) {
    width: calc(100vw / 4);
  }
  overflow-y: scroll;
}

nav#sidebar a:focus {
  background: #333;
}

nav#sidebar a:hover {
  background: #222;
}

/**
 * Sidebar state
 */

@media(min-width: 960px) {
  .js-sidebar--open .directory-search, .js-sidebar--open section#page, .js-sidebar--open header.top-bar {
    padding-left: calc(100vw / 4);
  }
  .js-sidebar--open .directory-search {
    flex: 0 80%;
  }
}

@media(min-width: 1280px) {
  .js-sidebar--open #searchbox {
    width: 33%;
  }
}

/*
 * https://developer.mozilla.org/fr/docs/Web/CSS/max-height
 * max-content La hauteur intrinsèque préférée.
 */

.h-max {
  height: max-content;
}

/*
 * http://tachyons.io/docs/themes/box-shadow/
 */

.shadow-6 {
  box-shadow: 0 4px 12px rgba(0, 0, 0, .2);
}

@media(max-width: 960px) {
  section#page {
    margin-top: 60px;
  }
}
