.rangeslider {
    position: relative;
    display: block;
    cursor: pointer;
    height: 25px;
    width: 100%;
}
.rangeslider__fill,
.rangeslider__fill__bg {
    display: block;
    position: absolute;
    top: 50%;
    height: 24px;
    z-index: 2;
    background: #0366D6;
    border-radius: 12px;
    will-change: width;
}
.rangeslider__handle {
    will-change: width, height, top;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 23px;
    background: #fff;
    box-shadow: 0 0 4px 3px rgba(0, 0, 0, .1);
    background: #fff;
    display: inline-block;
    z-index: 3;
    cursor: pointer;
    border-radius: 50%;
    transform: translateX(-50%);
    -webkit-transition: width 0.1s ease-in-out, height 0.1s ease-in-out, top 0.1s ease-in-out;
    transition: width 0.1s ease-in-out, height 0.1s ease-in-out, top 0.1s ease-in-out;
}
.rangeslider__handle:active {
    background: #0366D6;
}
.rangeslider__fill__bg {
    background: #424242;
    width: 100%;
}
.rangeslider--disabled {
    opacity: 0.4;
}
