html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  font-size: 62.5%;
}

@media (min-resolution: 1dppx), (min-resolution: 96dpi), (-webkit-min-device-pixel-ratio: 1) {
  html {
    font-size: 1rem;
  }
}

@media (min-resolution: 2dppx), (min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1) {
  html {
    font-size: 1.2rem;
  }
}

@media (min-resolution: 3dppx), (min-resolution: 288dpi), (-webkit-min-device-pixel-ratio: 3), (-o-min-device-pixel-ratio: 3/1) {
  html {
    font-size: 1.2rem;
  }
}

*, *:before, *::after {
  box-sizing: border-box;
}

body {
  -webkit-backface-visibility: hidden;
}

@media (min-resolution: 2dppx) {
  * {
    text-rendering: geometricPrecision;
  }
}

* {
  text-rendering: optimizeLegibility;
}

body {
  background: #fff;
  color: #333;
  font: 1rem/1.2 BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.01rem;
}

@media (max-width: 414px) {
  body {font-size: 16px; }
}

.container {
  width: 800px;
}

@media (max-width: 850px) {
  .container { width: 100%; }
}

.o { margin: 0 1.25rem 0 0.6rem; }

@media (max-width: 414px) {
  nav {
    display: none;
  }
}

nav li > a {
  margin: 0 1rem 0 0;
  text-decoration: none;
  line-height: 2rem;
  font-size: 20px;
  font-weight: 500;
}

nav > a:last-child { margin: 0; }



section {
  padding: 2rem;
  line-height: 1.4rem;
}

button {
  background: none;
  cursor: pointer;
  border: none;
}

article { margin: 0 0 3rem 0; }

@media (max-width: 414px) {
  article {
    margin: 0 0 2.5rem 0;
  }
}

article:last-child {
  margin: 0 0 1rem 0;
}

.preview-image {
  width: 13rem;
  font-size: 16px;
  line-height: 1.25rem;
  margin: 0 2.5rem 0 0;
}

@media (max-width: 414px) {
  .preview-image {
    width: initial;
    margin:0 0 0.25rem 0;
  }

  .preview-image > span { margin-right: 1rem; }
}

.preview-image > a { text-decoration: none; }

.preview-text { max-width: 40rem; }



footer {
  font-size: 16px;
  margin: 0 0 2rem 0;
}

footer > span:first-child {
  margin-right: 1rem;
}

h1, h2, h3 {
	font-weight: 500;
	margin: 3rem 0 1.5rem 0;
	line-height: 1.75rem;
	letter-spacing: 0.05rem;
}

h1 {
  font-size: 32px;
  margin: 3rem 0 1rem 0;
}

h1:first-child { margin-top: 0; }

h2 { font-size: 24px; }
h2:first-child { margin-top: 0; }

@media (max-width: 414px) {
  h1 { margin: 2.5rem 0 0.5rem 0; }
  h2, h3 { margin: 2.5rem 0 1rem 0; }
}

a { color: #333; }
a:hover { color: #687BF7; }

img { max-width: 100%; }
img.mobile { margin: 0 0 1rem 0; }

@media (max-width: 414px) {
  img.mobile { display: inherit; }
  img.desktop { display: none; }
}
@media (min-width: 415px) {
  img.mobile { display: none; }
  img.desktop { display: inherit; }
}



p { margin-bottom: 1.5rem; }
p:last-child { margin-bottom: 0; }



pre {
	background-color: #eee;
	padding: 1rem;
	margin: 0 0 2rem 0;
  overflow: auto;
}

code {
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	padding: 0.2rem 0.4rem;
	font-size: 80%;
	background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}

pre code {
	background-color: #eee;
}

ul { margin: 0 0 2rem 0; }

ul li {
	list-style-type: disc;
	margin: 0 0 0.25rem 3rem;
	padding: 0 0 0 1rem;
}
